.wrapper-div, .my-srv-block, .meeting-section, .cary-vas-div {
  padding: 110px 0 108px 0;
  text-align: center;

  & > h2 {
    @include section-title;
  }

  & > p {
    @include section-p;
  }
}

.wrap-main-div {
  padding: 164px 0 165px 0;
  background-color: rgba(237, 239, 241, 0.35);
  display: flex;
  justify-content: flex-end;
}

.chap-div {
  background-color: white;
  justify-content: flex-start;
}

.slider-part {
  padding: 188px 0 147px 0;
  background-image: url("../../src/img/Slice_2.jpg");
  background-size: cover;
}

.my-srv-block {
  padding: 108px 0 156px 0;
  background-color: #f9f9fa;
}

.meeting-section {
  padding-top: 112px;
}

.cary-vas-div {
  padding: 111px 0;
  background-color: #f9f9fa;
}

.perter-block {
  padding: 282px 0 271px 0;
  background-image: url("../../src/img/Try_our_template.jpg");
  background-size: cover;
  text-align: center;
}

.title-part {
  @include section-title;
  color: #ffffff;
}

.own-text {
  font-weight: 700;
  letter-spacing: 1.5px;
}

.link-pape {
  @include link-mix(183px);
  border: 0;
  margin-top: 98px;
}