footer {
  height: 700px;
  background-image: url("../../src/img/Slice_5.png");
  background-size: cover;
}

.bg-img {
  display: block;
  max-width: 1000px;
  max-height: 588px;
  margin: 0 auto;
  z-index: -9999;
}